countryLabel
city
region
postalCode
LoE
YoB
gender
nforum_posts
nforum_votes
nforum_endorsed
nforum_threads
nforum_comments
nforum_pinned
roles
roles_isBetaTester
roles_isInstructor
roles_isStaff
roles_isFinance
roles_isSales
forumRoles_isAdmin
forumRoles_isModerator
forumRoles_isStudent
profile_country
email_domain
language_brwsr
language_brwsr_country
language
