{
  "delete_columns": [
    "ip",
    "profile_country",
    "un_major_region",
    "un_economic_groupip",
    "un_developing_nation",
    "un_special_region",
    "latitude",
    "longitude"
  ],
  "quasi_identifiers": [
    "cc_by_ip",
    "countryLabel",
    "continent",
    "city",
    "region",
    "subdivision",
    "postalCode",
    "gender",
    "LoE",
    "YoB",
    "nforum_posts",
    "nforum_votes",
    "nforum_endorsed",
    "nforum_threads",
    "nforum_comments",
    "nforum_pinned",
    "nforum_events"
  ],
  "generalize_columns": [
    "cc_by_ip",
    "countryLabel",
    "city",
    "region",
    "subdivision",
    "YoB"
  ],
  "blur_columns": [
    "postalCode",
    "nforum_posts",
    "nforum_votes",
    "nforum_endorsed",
    "nforum_threads",
    "nforum_comments",
    "nforum_pinned",
    "nforum_events"
  ]
}