8,cc_by_ip
9,countryLabel
10,continent
11,city
12,region
13,subdivision
14,postalCode
15,un_major_region
16,un_economic_group
17,un_developing_nation
18,un_special_region
19,latitude
20,longitude
21,LoE
22,YoB
23,gender
33,nforum_posts
34,nforum_votes
35,nforum_endorsed
36,nforum_threads
37,nforum_comments
38,nforum_pinned
39,roles
43,mode
50,profile_country
52,email_domain
63,language
80,roles_isBetaTester
81,roles_isInstructor
82,roles_isStaff
83,roles_isCCX
84,roles_isFinance
85,roles_isLibrary
86,roles_isSales
87,forumRoles_isAdmin
88,forumRoles_isCommunityTA
89,forumRoles_isModerator
90,forumRoles_isStudent
